@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body {
    font-family: 'Press Start 2P', cursive;
    background-color: #fffce7;
    color: #333;
    margin: 0;
    padding: 0;
    text-align:justify;
    text-shadow: 2px 2px 2px white;
}


h1 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 3px 3px 0px #000;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-top: 40px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.iframe{
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pixel-art-image {
    max-width: 80%;
    height: auto;
    /* border: 5px solid #333; */
    image-rendering: pixelated; /* Mantém o estilo pixelado */
}

.casal-image {
    max-width: 80%;
    height: auto;
    /* border: 5px solid #333; */
    image-rendering: pixelated; /* Mantém o estilo pixelado */
}

.gallery-container {
    display: flex;
    background-color: #fffce7;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

footer {
    background-color: #ef5e69;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
    border-top: 5px solid #333;
}


#countdown {
    font-size: 3em;
    color: #ef5e69;
    font-weight: bold;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% auto 20%;
    background-color: #fffce7;
    padding: 10px;
    gap: 5px 5px;
}
.grid-conteudo{
    background-color: #fffce7;
    /* border: 1px solid black; */
    padding: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-left{
    background-color: #fffce7;
    /* border: 1px solid black; */
    padding: 10px;
    min-height: 50px;
    align-self: center;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-rigth{
    background-color: #fffce7;
    /* border: 1px solid black; */
    padding: 10px;
    min-height: 50px;
    align-self: center;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-header{
    /* border: 1px solid black; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    /* top: 0;
    position: sticky; */
    background-color: #ef5e69;
    color: #fff;
    /* padding: 20px;
    border-bottom: 5px solid #333; */
    text-shadow: 1px 1px 0px #000;
}

.grid-footer{
    
    /* border: 1px solid black; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 10px;
    /* bottom: 0;
    position: sticky; */
    text-align: center;
    background-color: #ef5e69;
    color: #fff;
    padding: 20px;
    /* margin-top: 40px;
    border-top: 5px solid #333; */
    text-shadow: 3px 3px 0px #000;
}


.grid-info{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #fffce7;
    padding: 10px;
    gap: 5px 5px;
    
}

.grid-infoItem{
    background-color: #fffce7;
    /* border: 1px solid black; */
    padding: 10px;
    text-align: justify;
}


#contagem{
    
    color: #ef5e69;
    font-weight: bold;
    
}

.horario{
    text-align: center;
    font-size: 20px;
}

.botao{
    text-align: center;
}


.audio-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  border: none;
  padding: 15px; /* Aumentamos o padding para o ícone */
  border-radius: 50%; /* Deixa o botão redondo */
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex; /* Para centralizar o ícone */
  justify-content: center;
  align-items: center;
}

.audio-button:hover {
  background-color: #0056b3;
}

#iconeAudio {
  font-size: 20px; /* Tamanho do ícone */
}

@media only screen and (orientation:portrait){
    .grid-container {
        /* Muda o layout para apenas uma coluna */
        grid-template-columns: 50% 50%;
    }

    .grid-header, .grid-footer {
        /* Garante que o cabeçalho e rodapé continuem ocupando 1 coluna */
        grid-column: 1 / span 2;
    }
    .grid-left{
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: right;
    }
    .grid-rigth{
        grid-row-start: 3;
        grid-row-end: 4; 
        text-align: left;
    }
    .grid-conteudo{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column: 1 / span 2;
    }
    .grid-footer {
        /* Garante que o cabeçalho e rodapé continuem ocupando 1 coluna */
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .grid-info{
        grid-template-columns: 100%;
    }
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle; border-radius: 8px;}

/* Container principal */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Botões Próximo e Anterior */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}

.next { right: 0; border-radius: 3px 0 0 3px; }
.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8); }

/* Legendas */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}

/* Pontos indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover { background-color: #717171; }

/* Animação de Fade */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides:first-child {
  display: block;
}
